@using HSG.Helper
<div id="divRecords">
    <table data-bind="visible:allRecords().length > 0" id="sortable"
        class="thinBorder" width="100%" title="Drag the table rows to reorder the entries.">
        <thead class="header">
            <tr>
                <th width="3%">
                </th>
                <th nowrap="nowrap">
                    Code
                </th>
                <th nowrap="nowrap" style="display:none">
                    Sort Order
                </th>
                <th>
                    Description
                </th>
                <th>
                    Last Modified By
                </th>
                <th width="30%">
                    Last Modified Date
                </th>
                <th align="left" nowrap="nowrap" style="display: none; width: 3%">
                    id &nbsp;&nbsp; A &nbsp;&nbsp; E &nbsp;&nbsp; D
                </th>
                
            </tr>
        </thead>
        <tbody data-bind="foreach: allRecords()">
            <tr data-bind="css:{deletedTR:IsDeleted(),deletedTR_NO:!IsDeleted()}">
                <td nowrap="nowrap">
                    <div class="dDialog" onclick="doEditable(this);" data-bind="visible:!IsDeleted(), click:$parent.setEdited">@Html.Raw(@Defaults.editImg)</div>
                    &nbsp;
                    <div class="dDialog" data-bind="visible:!IsDeleted() && CanDelete(), click:$parent.removeSelected">@Html.Raw(@Defaults.delImgForObj("record"))</div>
                    &nbsp;
                    <div class="dDialog" data-bind="visible:IsDeleted(), click:$parent.unRemoveSelected">@Html.Raw(@Defaults.cancelImgOnly)
                        &nbsp; &nbsp;
                    </div>                    
                </td>
                <td title="click to edit">
                    <input class="noBorder" data-bind="value:Code, event:{change:$parent.setEditedFlag}"
                        style="border: none; width: 99%" type="text" onfocus="editable(this, true);"
                        onblur ="editable(this, false);" maxlength="50" title="click to edit" />
                </td>
                <td style="display:none">
                    <input type="text" data-bind="value:SortOrder" /><span data-bind="html:SortOrder" />
                </td>
                <td title="click to edit">
                    <input class="noBorder" data-bind="value:Description, event:{change:$parent.setEditedFlag}"
                        style="border: none; width: 99%" type="text" onfocus="editable(this, true);"
                        onblur ="editable(this, false);" maxlength="50" title="click to edit" />
                </td>
                <td data-bind="text:LastModifiedByVal">
                </td>
                @*<td data-bind="text:new Date(parseInt(PostedOn.substr(6)))"></td>*@
                <td data-bind="date: LastModifiedDate()">
                </td>@*http://forums.asp.net/t/1651593.aspx/1*@
                <td nowrap="nowrap" style="display: none">                    
                    <span data-bind='text:ID'></span>
                    <input type="checkbox" data-bind="checked:IsAdded" />
                    <input type="checkbox" data-bind="checked:IsUpdated" />
                    <input type="checkbox" data-bind="checked:IsDeleted() && CanDelete()" />
                </td>
            </tr>
        </tbody>
        <tfoot>
        </tfoot>
    </table>
</div>
@{ Html.RenderPartial("KO/MasterGridKOscript"); }
