@using HSG.Helper
@*{ int AssignTo = (int)ViewData["AssignTo"];}*@
<div id="divComments">
    @*<div style="text-align: right"><input type="button" data-bind="click:saveToServer" class="button" value="Submit to Server" /></div>*@
    <table style="width: 100%" border="0">
        <tr>@* Add \ Edit Comment : START *@
            <td>
                <form>
                <table cellpadding="2" cellspacing="2" border="0" data-bind="with: commentToAdd">
                    <tr>
                        <td colspan="4" align="center">
                            <div id="cmtOprMsg" style="text-align: center">
                            <span id='emailResult' title="Email queued for new comment"></span></div>
                            <div style="display: none">
                                <input type="checkbox" data-bind="checked:_Added" />
                                ID: <input type="text" data-bind="value:ID" />
                                PO ID: <span data-bind="html:POID"></span>                                
                                PostedOn:<input type="text" data-bind="date: PostedOn" />
                                CommentBy:<input type="text" data-bind="value:CommentBy" />
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <td valign="top" rowspan="2" align="right" width="5%" nowrap="nowrap">
                            New Comment :
                        </td>
                        <td rowspan="2" width="60%">
                            <textarea data-bind="value:Comment1" class="textbox required" cols="60" id="Comment1"
                                name="Comment1" onblur="return trimTextAreaMaxLen(this,4000);" rows="3" style="width: 98%"
                                onkeyup1='setSubmitBtn(this,"btnCmtAdd");setSubmitBtn(this,"AssignTo");'></textarea>
                        </td>
                        <td valign="top" nowrap="nowrap" align="right" width="5%">
                            Assign To :
                        </td>
                        <td valign="top" align="right" width="30%">
                            <select id="AssignTo" class="dropbox" name="AssignTo" style="width: 350px;" 
                            data-bind="options: $parent.Users, value:$parent.AssignTo, optionsText: 'value', optionsValue:'id', enable: ($data.Comment1() != null && $data.Comment1().length > 0)"
                             onchange="setAssignTo(this)">
                            </select><br /><!--  -->
                            <input id="AssignToVal" name="AssignToVal" type="hidden" data-bind="value:$parent.AssignToVal" />
                            <input id="AssignToOLD" name="AssignToOLD" type="hidden" />
                        </td>
                    </tr>
                    <tr>
                        <td align="right" nowrap="nowrap" colspan="2" valign="top">
                            <input id="btnCmtAdd" type="button" data-bind="click:$parent.addComment, enable: ($data.Comment1() != null && $data.Comment1().length > 0)" value="Add"
                                class="button" />@*, enable: (Comment1 != null)*@
                            <input id="btnCmtReset" data-bind="click:$parent.cancelComment" type="reset" value="Cancel"
                                class="button" />
                        </td>
                    </tr>
                </table>
                @*Add \ Edit Comment : END*@
                </form>
            </td>
        </tr>
        <tr>
            <td align="center">
                @* Comments : START *@
                <table class="thinBorder" width="99%" data-bind="visible:allComments().length > 0">
                    <thead class="header">
                        <tr>
                            <th align="left" nowrap="nowrap" style="display: none; width: 3%">
                                id &nbsp;&nbsp; A &nbsp;&nbsp; E &nbsp;&nbsp; D
                            </th>
                            <th width="3%">
                            </th>
                            <th nowrap="nowrap" width="10%">
                                Comment By
                            </th>
                            <th nowrap="nowrap" width="10%">
                                Posted On
                            </th>
                            <th>
                                Comment
                            </th>
                        </tr>
                    </thead>
                    <tbody data-bind="foreach: allComments()">
                        <tr data-bind="css:{deletedTR:_Deleted(),deletedTR_NO:!_Deleted()}">
                            <td nowrap="nowrap" style="display: none">
                                <span data-bind='text:ID'></span>
                                <input type="checkbox" data-bind="checked:_Added" />
                                <input type="checkbox" data-bind="checked:_Edited" />
                                <input type="checkbox" data-bind="checked:_Deleted" />
                            </td>
                            <td nowrap="nowrap">
                                <div class="dDialog" onclick="doEditableTA(this);" data-bind="visible:!_Deleted(), click:$parent.setEdited">@Html.Raw(@Defaults.editImg)</div>
                                &nbsp;
                                <div class="dDialog" data-bind="visible:!_Deleted(), click:$parent.removeSelected">@Html.Raw(@Defaults.delImgForObj("comment"))</div>
                                &nbsp;
                                <div class="dDialog" data-bind="visible:_Deleted(), click:$parent.unRemoveSelected">@Html.Raw(@Defaults.cancelImgOnly)
                                    &nbsp; &nbsp;
                                </div>
                            </td>
                            <td data-bind="text:CommentBy">
                            </td>
                            @*<td data-bind="text:new Date(parseInt(PostedOn.substr(6)))"></td>*@
                            <td data-bind="date: PostedOn()">
                            </td>@*http://forums.asp.net/t/1651593.aspx/1*@
                            <td title="click to edit">
                                <textarea class="noBorder" data-bind="value:Comment1, event:{change:$parent.setEditedFlag}"
                                    style="border: none; width: 99%" type="text" onclick="editable(this, true);"
                                    onblur="if(doRequiredChk(this))editable(this, false);" title="click to edit"
                                    rows="1" ></textarea>
                            </td>
                            @*<td onclick="$('input:first', this).show().focus();$('span:first', this).hide();">
                                    <span data-bind="text:Comment1" onmouseover="toggleLabel(this.parentElement);"></span>
                                    <input data-bind="value:Comment1, event:{change:$parent.setEdited}" style="display: none;
                                        width: 99%" onfocus="doTDHover = false;" class="textBox" onblur="doTDHover = true;toggleLabel(this.parentElement);"
                                        onmouseout="toggleLabel(this.parentElement);" />
                                </td>*@
                        </tr>
                    </tbody>
                    <tfoot>
                    </tfoot>
                </table>
                @* Comments : END *@
            </td>
        </tr>
    </table>
</div>
@*{ Html.RenderPartial("KO/CommentsKOscript"); }*@