@using HSG.Helper
@*using System.Collections
@using System.Web.Script.Serialization
@using System.Collections
@using Webdiyer.WebControls.Mvc
@using POT.Services
@{ ViewBag.Title = "PO FileHeader KO";}
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <link rel="shortcut icon" href="@Url.Content("~/Content/favicon.ico")" type="image/x-icon" />
    <link rel="icon" href="@Url.Content("~/Content/favicon.ico")" type="image/ico" />
    <link href="@Url.Content("~/Content/Site.css")" rel="stylesheet" type="text/css" />
    <script language="javascript" src="@Url.Content("~/Content/Scripts/common.js")" type="text/javascript"></script>
    /*SOME scripts are better persisted in head */
    <script src="@Url.Content("~/Content/jQUI/min/jquery-1.9.1.min.js")" type="text/javascript"></script>
    <script src="@Url.Content("~/Content/jQUI/min/jquery-migrate-1.1.0.min.js")" type="text/javascript"></script>
    <script src="@Url.Content("~/Content/Scripts/KO/knockout-2.2.0.js")" type="text/javascript"></script>
    <script src="@Url.Content("~/Content/Scripts/KO/knockout.mapping-latest.js")" type="text/javascript"></script>
    <script src="@Url.Content("~/Content/Scripts/KO/KoExtra.js")" type="text/javascript"></script>    
</head>
<body>
<br />*@
@{ 
    bool isArchived = (bool)ViewData["Archived"];    
    string maxFileSizMB = "(" + Config.MaxFileSizMB + " MB max)";
}
<div id="divFiles">
    <table style="width: 100%" border="0">
        @if (!isArchived)
        {<tr>
                @* File upload solution with AJAX http://stackoverflow.com/questions/166221/how-can-i-upload-files-asynchronously-with-jquery*@
                <td align="center">
                    @using (Html.BeginForm("FilePostKO", "PO", new { POGUID = ViewData["POGUID"] }, FormMethod.Post,
        new { id = "frmFiles", enctype = "multipart/form-data", style = "display:inline" }))
                    {
                        <div id="fileOprMsg" style="text-align: center; display: inline">&nbsp;</div>
                        <table cellpadding="2" cellspacing="2" style="width: 100%" border="0" data-bind="with: fileToAdd">
                            <tr>
                                <td colspan="4" align="center">
                                    <div style="display: none">
                                        <input type="checkbox" data-bind="checked:_Added" id="_Added" name="_Added" />
                                        ID:<input id="ID" name="ID" data-bind="value:ID" /><br />
                                        PO ID:<input id="POID" name="POID" data-bind="value:POID" /><br />
                                        POGUID:<input id="POGUID" name="POGUID" data-bind="value:POGUID" /><br />
                                        UploadDate:<input type="text" id="UploadDate" name="UploadDate" data-bind="date: UploadDate" /><br />
                                        UserID:<input id="UserID" name="UserID" type="text" data-bind="value:UserID" /><br />
                                        <br />
                                    </div>
                                </td>
                            </tr>
                            <tr>
                                <td valign="middle" align="right" width="5%">
                                    File :
                                </td>
                                <td align="left" width="70%" nowrap="nowrap">@* HT : DON'T class="required" because it'll err in edit mode*@
                                    <input type="file" id="FileNameNEW" name="FileNameNEW" title="@maxFileSizMB" data-bind="value:FileNameNEW"
                                    onchange='javascript:var fName = $(this).parent().children("input[type=text]:first");fName.val($(this).val());fName.trigger("change");' />
                                    <span class="small">@maxFileSizMB</span>
                                    <div class="progress" style="display: inline">
                                        <div class="bar" style="display: inline">
                                        </div>
                                        <div class="percent note" style="display: inline">
                                        </div>
                                    </div>
                                    <div id="status" style="display: inline" class="error">
                                    </div>
                                    @*<input id="FileNameNEW" type="text" data-bind="value:FileNameNEW" />*@
                                    <input id="FileName" Name="FileName" type="text" style="display: none" data-bind="value:FileName"
                                        onchange='if($(this).val() != ""){$("#btnFHSubmit").removeAttr("disabled");} else {$("#btnFHSubmit").attr("disabled", true);}' />
                                </td>
                                <td valign="middle" align="right" nowrap="nowrap" width="5%">
                                    &nbsp;&nbsp;File Type :
                                </td>
                                <td width="20%">
                                    <select id="FileType" class="dropbox" name="FileType" data-bind="options: $parent.FileTypes, value:FileType, optionsText: 'value', optionsValue:'id'" style="width:99%"
                                        onchange='javascript:$(this).parent().children("input:first").val($(this).children("option").filter(":selected").text());$(this).parent().children("input:first").trigger("change");'>
                                    </select>
                                    <input id="FileTypeTitle" name="FileTypeTitle" type="hidden" data-bind="value:FileTypeTitle" />
                                </td>
                            </tr>
                            <tr>
                                <td valign="top" align="right" nowrap="nowrap">
                                    Comment :
                                </td>
                                <td rowspan="2" align="left">
                                    <textarea data-bind="value:Comment" class="textbox required" cols="60" id="Comment"
                                        name="Comment" onblur="return trimTextAreaMaxLen(this,250);" rows="2" style="width: 90%"></textarea>
                                </td>
                                <td colspan="2" valign="top" align="right">
                                    <input type="submit" data-bind="click:$parent.addFile, enable: (FileName.length > 0)"
                                        value="Add" class="button" onclick1="javascript:$('#frmFiles').submit();" title="Select a file, set type and click Add"
                                        id="btnFHSubmit" />@*onclick="setDDLtext('FileType', 'FileTypeTitle');"*@
                                    <input type="reset" data-bind="click:$parent.cancelFile" value="Cancel" class="button"
                                        id="btnFHReset" />
                            </tr>
                        </table>
                    }
                </td>
            </tr>
        }
        <tr>
            <td align="center">
                <table class="thinBorder" width="100%" border="0" data-bind="visible:allFiles().length > 0">
                    <thead class="header">
                        <tr>
                            @if (!isArchived)
                            {
                                <th align="left" nowrap="nowrap" style="width:3%;display:none">
                                    id &nbsp;&nbsp; A &nbsp;&nbsp; E &nbsp;&nbsp; D
                                </th>
                                <th width="3%">
                                </th>
                            
                            }
                            <th>
                                File
                            </th>
                            <th style="width: 20%">
                                Type
                            </th>
                            <th style="width: 30%">
                                Comment
                            </th>
                            <th nowrap="nowrap">
                                Uploaded By
                            </th>
                            <th nowrap="nowrap">
                                Uploaded Date
                            </th>
                            <th>
                            </th>
                        </tr>
                    </thead>
                    <tbody data-bind="foreach: allFiles()">
                        <tr data-bind="css:{deletedTR:_Deleted(),deletedTR_NO:!_Deleted()}">
                            @if (!isArchived)
                            {
                                <td nowrap="nowrap" style="display:none">
                                    <span data-bind='text:ID'></span>
                                    <input type="checkbox" data-bind="checked:_Added" />
                                    <input type="checkbox" data-bind="checked:_Edited" />
                                    <input type="checkbox" data-bind="checked:_Deleted" />
                                </td>
                                <td nowrap="nowrap">
                                    <div class="dDialog" onclick="doEditable(this);" data-bind="visible:!_Deleted(), click:$parent.setEdited">@Html.Raw(@Defaults.editImg)</div>
                                    &nbsp;
                                    <div class="dDialog" data-bind="visible:!_Deleted(), click:$parent.removeSelected">@Html.Raw(@Defaults.delImgForObj("file"))</div>
                                    &nbsp;
                                    <div class="dDialog" data-bind="visible:_Deleted(), click:$parent.unRemoveSelected">@Html.Raw(@Defaults.cancelImgOnly)
                                        &nbsp; &nbsp;
                                    </div>
                                    @*@Html.Raw(Defaults.delPOSTImgTACO("CommentID", -1, "doCmtDelPost"))*@
                                </td>
                            }
                            <td data-bind="text:FileName">
                            </td>
                            <td title="click to edit">
                                <div style="overflow: hidden">
                                    <select class="dropbox noBorder" style="width: 120%; overflow: hidden;" onclick="editable(this, true);"
                                        onblur="editable(this, false);" data-bind="options:$parent.FileTypes, value:FileType,
                                         optionsText: 'value', optionsValue:'id', event:{change:$parent.setEditedFlag}">
                                    </select>
                                </div>
                            </td>
                            <td title="click to edit">
                                <input class="noBorder" data-bind="value:Comment, event:{change:$parent.setEditedFlag}"
                                    style="border: none; width: 99%" type="text" onclick="editable(this, true);"
                                    onblur="if(trimTextAreaMaxLen(this,250))editable(this, false);" />
                            </td>
                            <td data-bind="text:UploadedBy">
                            </td>
                            <td data-bind="date: UploadDate">
                            </td>
                            <td align="center">
                                <div class="dDialog" data-bind="click:$parent.TriggerOpenWin, visible:CodeStr().length > 0">@Html.Raw(Defaults.clipImg)</div>                                
                            </td>
                        </tr>
                    </tbody>
                    <tfoot>
                        @*@Html.Raw(Defaults.chkNoRecords(Model.Count(), 7))*@
                    </tfoot>
                </table>
            </td>
        </tr>
    </table>
</div>
@*</body> </html>*@
@if (!isArchived)
{    
    <text>
    @{ Html.RenderPartial("KO/FilesKOscript"); }
    
    <script type="text/javascript" language="javascript" defer="defer">
        $(document).ready(function () {
            var bar = $('.bar');
            var percent = $('.percent');
            var status = $('#status');

            $('#frmFiles').ajaxForm({
                dataType: 'xml',
                beforeSend: function () {
                    status.empty();
                    var percentVal = '0%';
                    bar.width(percentVal)
                    percent.html("uploading:" + percentVal);
                },
                uploadProgress: function (event, position, total, percentComplete) {
                    var percentVal = percentComplete + '%';
                    bar.width(percentVal)
                    percent.html("uploaded:" + percentVal);
                },
                success: function (responseXML, statusText, xhr, frm) {
                    var percentVal = '100%';
                    bar.width(percentVal)
                    percent.html("Done:" + percentVal);
                    //Reset add new
                    viewModelFH.cancelFile(xhr);

                    var xmlTxt = (xhr.responseXML != null) ? xhr.responseXML.xml : xhr.responseText;
                    @*//IE : xhr.responseXML.xml                //FF: xhr.responseText*@

                    if (xmlTxt == null || xmlTxt.length < 1) {
                    @* //HT: Special case handling for IE *@
                        if (xhr.responseXML.xml != null)
                            xmlTxt = xhr.responseXML.xml;
                        else if (xhr.responseXML.documentElement.textContent != null)
                            xmlTxt = xhr.responseXML.documentElement.textContent;
                    }
                    
                    if (xmlTxt.indexOf("fileUploadResponse") == -1) {
                        viewModelFH.allFiles.pop();
                    } // Something went wrong!
                    
                    if (xhr.responseXML != null){// For IE
                      //IE8 $("#taco_niteDIVFH").append(xhr.responseXML.documentElement.xml);//xmlTxt);
                      //eval(xhr.responseXML.documentElement.xml);
                      var tc = new $.taconite(responseXML); // might work in IE8
                      @*try{ 
                            // only to execute the function - kept for ref
                            //eval(xhr.responseXML.getElementsByTagName("eval")[0].text); // IE8 - xhr.responseXML.documentElement.xml
                            //eval(xhr.responseXML.getElementsByTagName("eval")[0].textContent); // IE9
                      }catch(e){alert(e);}*@
                    }
                },
                complete: function (xhr) {
                    @*//status.html(xhr.responseText); DON'T set or it'll have two result messages and it can't choose*@
                    percent.html("");                    
                },
                error: function (xhr, textStatus, errorThrown) {
                    status.html(xhr.responseText + ":" + textStatus + ":" + errorThrown);
                    viewModelFH.allFiles().pop();
                }
            });
        });
        function fileUploadResponse(code, success, ID) {  
            if (success) {
                ko.utils.arrayForEach(viewModelFH.allFiles(), function (file) {
                    if (file.ID() == ID) { file.CodeStr(code); return; }
                });
            }
        }    
    </script>
    </text>
}
@* HT: IE9 doesn't allow to use var tc = new $.taconite(responseXML); *@
<script  language="javascript" src="@Url.Content("~/Content/Scripts/jquery.taconite.js?")" type="text/javascript" ></script>
<!--[if lt IE 8]>
<script src="@Url.Content("~/Content/Scripts/json2.js")" type="text/javascript" ></script>
<![endif]-->