@model POT.DAL.POHdrKOModel
@using System.Collections
@using HSG.Helper
@{ ViewBag.Title = "PO"; Layout = Defaults.masterLayout;
   bool IsOnlyVendor = _Session.IsOnlyVendor;
   bool printPOAfterSave = (bool)ViewData["printPOAfterSave"];
   string poPrintopenWindow = "openWinScrollable('" + Url.Action("Print", "PO", new { POID = Model.PO.ID }) + "',648,838);";   
}
@section HeadContent {
    <script type="text/javascript">        
        var skipCommitChk = false;
        @* *********** Make sure common.js is included*********** *@
        $().ready(function() {
        @if (printPOAfterSave)
        {@Html.Raw(poPrintopenWindow)}
        try{DisableSubmitButtons(false);/*$.unblockUI();*/}catch(e){}
        @************ Render tabs ***********
        //SO: 5246558/jquery-tabs-caching-to-be-disabled-temporary-for-switching-tab-and-refreshing-oth*@
        $("#tabs").tabs({
         @* cache: true, spinner: 'Loading...', ajaxOptions: { cache: false}, 
         http://jqueryui.com/upgrade-guide/1.9/#deprecated-ajaxoptions-and-cache-options-added-beforeload-event *@
         beforeLoad: function( event, ui ) {
            ui.ajaxSettings.cache = false;
            if ( ui.tab.data( "loaded" ) ) {  event.preventDefault();  return;  } 
            ui.jqXHR.success(function() {   ui.tab.data( "loaded", true ); });
           },
        activate: function(event, ui) { setFocus1(event, ui) } 
        }); @*//HT: cache: true - to prevent reload on each tab select!*@
        
        @*//bind event to check po commit*@
        window.onbeforeunload = chkCommit;
        
        LoadKOAndOther();
        @*// Add client side validation*@
        var validator = $("#frmPO").validate({@Defaults.validatorJQsetting,ignore: [], focusCleanup: false});
        @*// Set blockUI for all forms (SO: 10753584)*@
        $('form').submit(function () {            
             if($(this).valid())
                { try{DisableSubmitButtons(true);@*$.blockUI();*@}catch(e){}}
         });         
       });

       function gotoPO(POId)
        {
            window.location.href = 
            "@HttpUtility.UrlDecode(Url.Action("Manage?", "PO", new { POId = -99 }))".replace('-99',POId);
        }
    </script>
    <style>
        table.wideTX tr td input[type=text], select
        {
            width: 250px;
        }
        table.wideTXR tr td input[type=text]
        {
            width: 100%;
            background-color: #C0C0C0;
            color: #333333;
        }
        .autocomp
        {
            width: 270px;
        }
        fieldset
        {
            background-color: #f5f5f5;
        }
    </style>
}
@{ bool isNewPO = (Model.PO.ID <= Defaults.Integer);
   string cancelorDelete = isNewPO ? "Cancel" : "Delete";
   bool? oprSuccess = ((bool?)ViewData["oprSuccess"]);
   string PONumber = isNewPO ? "(new)" : Model.PO.PONumber.ToString();

   bool hasPOIDs = false;
   int POpos = -1, firstPO = -1, prevPO = -1, nextPO = -1, lastPO = -1, POID = Model.PO.ID;
   List<int> POIDs = new List<int>();
   try
   {
       POIDs = _Session.POIDs;
       hasPOIDs = (POIDs != null) && POIDs.Count > 1;
       if(hasPOIDs)
       {
           POpos = _Session.POposition(POID);       

           firstPO = (POID == POIDs[0]) ? -1 : POIDs[0];
           prevPO = (POpos - 1 < 0) ? -1 : POIDs[POpos - 1];
           nextPO = (POpos + 1 > POIDs.Count - 1) ? -1 : POIDs[POpos + 1];
           lastPO = (POID == POIDs[POIDs.Count - 1]) ? -1 : POIDs[POIDs.Count - 1];
       }
   }
   catch (Exception ex)
   { hasPOIDs = false; }
}
<table width="99%" align="center" border="0">
    @if (oprSuccess.HasValue)
    {<tr>
                                    <td style="width: 99%;" align="center">@Html.Raw(Defaults.getOprResult(oprSuccess.Value, POT.Services.POService.delRefChkMsg))
                                    </td>
                                </tr>}
    <tr>
        <td>
            <table width="100%" border="0">
                <tr>
                    <td align="left" width="30%">
                        @if (hasPOIDs)
                        {
                            <table cellpadding="1" cellspacing="0" width="99.5%">
                                <tr>
                                    <td align="left" nowrap="nowrap" width="49%">
                                        @*using (Html.BeginForm("Navigate", "PO", new { POID = Model.PO.ID }, FormMethod.Post, new { @style = "display:inline" }))*@
                                        <table border="0">
                                            <tr>
                                                <td>
                                                    <input @Html.Raw((firstPO > -1) ? "" : "disabled='disabled'") onclick="gotoPO(@firstPO);return false;"
                                    type="button" id="btnPrevFirst" class="button" value="« First" />
                                                </td>
                                                <td>
                                                    <input @Html.Raw((prevPO > -1) ? "" : "disabled='disabled'") onclick="gotoPO(@prevPO);return false;"
                                    type="button" id="btnpagerPrev" class="button" value="Prev" />
                                                </td>
                                                <td>
                                                    <input @Html.Raw((nextPO > -1) ? "" : "disabled='disabled'") onclick="gotoPO(@nextPO);return false;"
                                    type="button" id="btnpagerNext" class="button" value="Next" />
                                                </td>
                                                <td>
                                                    <input @Html.Raw((lastPO > -1) ? "" : "disabled='disabled'") onclick="gotoPO(@lastPO);return false;"
                                    type="button" id="btnNextLast" class="button" value="Last »" />
                                                </td>
                                            </tr>
                                        </table>
                                    </td>
                                    <td align="right" nowrap="nowrap" width="49%">
                                        <span id="lblTotalPages" runat="server" class="boldLabel smallFont">
                                            @Html.Raw(string.Format("Record : {0} of {1}", POpos+1, POIDs.Count))
                                            &nbsp;</span>
                                    </td>
                                </tr>
                            </table>
                        }
                    </td>
                    <td align="center" width="40%">
                        <table width="1%" class="highlight thinBorder" border="0">
                            <tr>
                                <td align="right" nowrap="nowrap">
                                    <span class="SubHeading">PO#</span> :&nbsp; <span class="SubHeading">@Model.PO.PONumber</span>
                                    @Html.Hidden("PONumber", Model.PO.PONumber)
                                </td>
                            </tr>
                        </table>
                    </td>
                    <td align="right" width="30%">
                        <table style="width: 90%;" border="0">
                            <tr>
                                <td nowrap="nowrap" align="right" id="tdButtons">
                                    @* HT: CAUTION - Make sure first tab is selected to trigger validation *@
                                    <input type="submit" value="Accept" class="button" onclick="skipCommitChk=true; document.getElementById('btnCommit').click();return false;" />&nbsp;
                                    @if (!isNewPO && _Session.RoleRights.DeletePO)
                                    {
                                        using (Html.BeginForm("Delete", "PO", new { POID = Model.PO.ID, POGUID = Model.PO.POGUID, PONumber = Model.PO.PONumber }, FormMethod.Post, new { @style = "display:inline" }))
                                        {@*Html.Hidden("PONumber", Model.PO.PONumber)*@
                                        <input type="submit" value="Delete" title="Delete this po" class="button" onclick="if(confirmDeleteM
        (event, 'Are you sure you want to delete this po and all the data related with this po?'))skipCommitChk=true; else return false;" />@Html.Raw("&nbsp;")}
                                    }
                                    <input type="reset" value="Cancel" class="button" onclick="try{window.location.href='@Url.Action("Cancel", new { POID = Model.PO.ID, POGUID = Model.PO.POGUID })'}catch(ex){;}"/>&nbsp;
                                    @if (!isNewPO)
                                    { //&& !IsOnlyVendor
                                        <input type="button" value="Print" class="button" onclick="return checkAndPrint(this, event);" />@Html.Raw("&nbsp;")}
                                    @*if (_Session.IsInternal && !isNewPO)
                                    {
                                        <a href='@Url.Action("PrintPDF")' target="_blank">PDF</a>@Html.Raw("&nbsp;")@Html.Raw("&nbsp;")
                                    }*@
                                </td>
                            </tr>
                        </table>
                    </td>
                </tr>
            </table>
        </td>
    </tr>
    <tr>
        <td>
            <div id="tabs">
                <ul>
                    <li><a href="#tabs-1"><span>1.Header</span></a></li>
                    <li><a href="#tabs-2" href1='@Url.Action("Lines", new { POGUID = Model.PO.POGUID.ToString() })'>
                        <span>2.Lines</span></a></li>
                    <li><a href="#tabs-3" href1='@Url.Action("Info", new { POGUID = Model.PO.POGUID.ToString() })'>
                        <span class="blue">3.PO Info</span></a></li>
                    <li><a href="#tabs-4" href1='@Url.Action("Comments", new { POGUID = Model.PO.POGUID.ToString() })'>
                        <span class="blue">4.Comments</span></a></li>
                    <li><a href="#tabs-5" href1='@Url.Action("Files", new { POGUID = Model.PO.POGUID.ToString() })'>
                        <span class="blue">5.Files</span></a></li>
                </ul>
                <div id="tabs-1" name="tabs-1">
                    <table align="center" border="0" cellpadding="1" cellspacing="2" width="100%" class="wideTXR">
                        <tr align="center" style="display: none">
                            <td>
                                <span class="error">Error (if any)</span>
                            </td>
                        </tr>
                        <tr>
                            <td align="left" colspan="3" valign="top">
                                <fieldset class="fieldSet">
                                    <legend class="SubHeading">Order Detail</legend>
                                    <table style="width:100%">
                                        <tr>
                                            <td width="48%">
                                                <table width="100%">
                                                    <tr>
                                                        <td align="right" nowrap="nowrap" width="5%">
                                                            Order Date :&nbsp;
                                                        </td>
                                                        <td>
                                                            @Html.TextBox("PODate", Model.PO.PODate.Value.ToString(Defaults.dtFormat),
                                                            new { @readonly = "readonly" })
                                                        </td>
                                                    </tr>
                                                    <tr align="right">
                                                        <td align="right" nowrap="nowrap">
                                                            Terms :&nbsp;
                                                        </td>
                                                        <td>
                                                            @Html.CustomTextBoxFor(p => p.PO.Term, new { @readonly = "readonly" })
                                                        </td>
                                                    </tr>
                                                    <tr>
                                                        <td align="right" nowrap="nowrap">
                                                            Ship Via :&nbsp;
                                                        </td>
                                                        <td>
                                                            @Html.CustomTextBoxFor(p => p.PO.ShipVia, new { @readonly = "readonly" })
                                                        </td>
                                                    </tr>
                                                </table>
                                            </td>
                                            <td width="4%">&nbsp;&nbsp;&nbsp;</td>
                                            <td width="48%">
                                                <table width="99%">
                                                    <tr>
                                                        <td align="right" nowrap="nowrap" width="5%">
                                                            FOB :&nbsp;
                                                        </td>
                                                        <td align="left" nowrap="nowrap">
                                                            @Html.CustomTextBoxFor(p => p.PO.FOB, new { @readonly = "readonly" })
                                                        </td>
                                                    </tr>
                                                    <tr>
                                                        <td align="right" nowrap="nowrap">
                                                            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Attn :&nbsp;
                                                        </td>
                                                        <td align="left" nowrap="nowrap">
                                                            @Html.CustomTextBoxFor(p => p.PO.ConfirmTo, new { @readonly = "readonly" })
                                                        </td>
                                                    </tr>
                                                    <tr>
                                                        <td>
                                                            &nbsp;
                                                        </td>
                                                        <td>
                                                            &nbsp;
                                                        </td>
                                                    </tr>
                                                </table>
                                            </td>
                                        </tr>
                                    </table>
                                </fieldset>
                            </td>                            
                        </tr>
                        <tr>
                            <td align="left" valign="top" width="49%">
                                <fieldset class="fieldSet">
                                    <legend class="SubHeading">Vendor Address</legend>
                                    <table width="99%">
                                        <tr>
                                            <td align="right" nowrap="nowrap" width="5%">
                                                Code :&nbsp;
                                            </td>
                                            <td align="left" colspan="3" nowrap="nowrap">
                                                @Html.CustomTextBoxFor(p => p.PO.VendorNumber, new { @readonly = "readonly" })
                                            </td>
                                        </tr>
                                        <tr>
                                            <td align="right" nowrap="nowrap">
                                                Name :&nbsp;
                                            </td>
                                            <td align="left" colspan="3" nowrap="nowrap">
                                                @Html.CustomTextBoxFor(p => p.PO.VendorName, new { @readonly = "readonly" })
                                            </td>
                                        </tr>
                                        <tr>
                                            <td align="right" nowrap="nowrap">
                                                Address :&nbsp;
                                            </td>
                                            <td align="left" colspan="3" nowrap="nowrap">
                                                @Html.CustomTextBoxFor(p => p.PO.VendorAddress1, new { @readonly = "readonly" })
                                            </td>
                                        </tr>
                                        <tr>
                                            <td>
                                            </td>
                                            <td align="left" colspan="3" nowrap="nowrap">
                                                @Html.CustomTextBoxFor(p => p.PO.VendorAddress2, new { @readonly = "readonly" })
                                            </td>
                                        </tr>
                                        <tr>
                                            <td>
                                            </td>
                                            <td align="left" colspan="3" nowrap="nowrap">
                                                @Html.CustomTextBoxFor(p => p.PO.VendorAddress3, new { @readonly = "readonly" })
                                            </td>
                                        </tr>
                                        <tr>
                                            <td align="left" nowrap="nowrap">
                                                ZIP Code :&nbsp;
                                            </td>
                                            <td align="left" nowrap="nowrap">
                                                @Html.CustomTextBoxFor(p => p.PO.VendorZipCode, new { @readonly = "readonly" })
                                                &nbsp;
                                            </td>
                                            <td align="right" nowrap="nowrap">
                                                City :&nbsp;
                                            </td>
                                            <td align="left" nowrap="nowrap">
                                                @Html.CustomTextBoxFor(p => p.PO.VendorCity, new { @readonly = "readonly" })
                                            </td>
                                        </tr>
                                        <tr>
                                            <td align="right" nowrap="nowrap">
                                                State :&nbsp;
                                            </td>
                                            <td align="left" nowrap="nowrap">
                                                @Html.CustomTextBoxFor(p => p.PO.VendorState, new { @readonly = "readonly" })
                                            </td>
                                            <td align="right" nowrap="nowrap">
                                                Country :&nbsp;
                                            </td>
                                            <td align="left" nowrap="nowrap">
                                                @Html.CustomTextBoxFor(p => p.PO.VendorCountryName, new { @readonly = "readonly" })
                                            </td>
                                        </tr>
                                        <tr>
                                            <td align="right" nowrap="nowrap">
                                                Fax :&nbsp;
                                            </td>
                                            <td align="left" nowrap="nowrap">
                                                @Html.CustomTextBoxFor(p => p.PO.FaxNumber, new { @readonly = "readonly" })
                                            </td>
                                            <td align="right" nowrap="nowrap">
                                            </td>
                                            <td align="left" nowrap="nowrap">
                                            </td>
                                        </tr>
                                        <tr>
                                        </tr>
                                    </table>
                                </fieldset>
                            </td>
                            <td width="2%">
                                &nbsp;&nbsp;&nbsp;
                            </td>
                            <td align="left" valign="top" width="49%">
                                <fieldset class="fieldSet">
                                    <legend class="SubHeading">Ship To Address</legend>
                                    <table width="99%">
                                        <tr>
                                            <td align="right" nowrap="nowrap" width="5%">
                                                Code :&nbsp;
                                            </td>
                                            <td align="left" colspan="3" nowrap="nowrap">
                                                @Html.CustomTextBoxFor(p => p.PO.ShipToCode, new { @readonly = "readonly" })
                                            </td>
                                        </tr>
                                        <tr>
                                            <td align="right" nowrap="nowrap">
                                                Name :&nbsp;
                                            </td>
                                            <td align="left" colspan="3" nowrap="nowrap">
                                                @Html.CustomTextBoxFor(p => p.PO.ShipToName, new { @readonly = "readonly" })
                                            </td>
                                        </tr>
                                        <tr>
                                            <td align="right" nowrap="nowrap">
                                                Address :&nbsp;
                                            </td>
                                            <td align="left" colspan="3" nowrap="nowrap">
                                                @Html.CustomTextBoxFor(p => p.PO.ShipToAddress1, new { @readonly = "readonly" })
                                            </td>
                                        </tr>
                                        <tr>
                                            <td>
                                            </td>
                                            <td align="left" colspan="3" nowrap="nowrap">
                                                @Html.CustomTextBoxFor(p => p.PO.ShipToAddress2, new { @readonly = "readonly" })
                                            </td>
                                        </tr>
                                        <tr>
                                            <td>
                                            </td>
                                            <td align="left" colspan="3" nowrap="nowrap">
                                                @Html.CustomTextBoxFor(p => p.PO.ShipToAddress3, new { @readonly = "readonly" })
                                            </td>
                                        </tr>
                                        <tr>
                                            <td align="right" nowrap="nowrap">
                                                ZIP Code :&nbsp;
                                            </td>
                                            <td align="left" nowrap="nowrap">
                                                @Html.CustomTextBoxFor(p => p.PO.ShipToZipCode, new { @readonly = "readonly" })
                                            </td>
                                            <td align="right" nowrap="nowrap">
                                                City :&nbsp;
                                            </td>
                                            <td align="left" nowrap="nowrap">
                                                @Html.CustomTextBoxFor(p => p.PO.ShipToCity, new { @readonly = "readonly" })
                                            </td>
                                        </tr>
                                        <tr>
                                            <td align="right" nowrap="nowrap">
                                                State :&nbsp;
                                            </td>
                                            <td align="left" nowrap="nowrap">
                                                @Html.CustomTextBoxFor(p => p.PO.ShipToState, new { @readonly = "readonly" })
                                            </td>
                                            <td align="right" nowrap="nowrap">
                                                Country :&nbsp;
                                            </td>
                                            <td align="left" nowrap="nowrap">
                                                @Html.CustomTextBoxFor(p => p.PO.ShipToCountryCode, new { @readonly = "readonly" })
                                            </td>
                                        </tr>
                                        <tr>
                                            <td height="23">
                                            </td>
                                        </tr>
                                    </table>
                                </fieldset>
                            </td>
                        </tr>
                        <tr>
                            <td style="height:5px"></td>
                        </tr>
                        <tr runat="server" id="trLastModified">
                            <td align="left" colspan="3" valign="top" width="48%">
                                <fieldset class="fieldSet">
                                    <table border="0">
                                        <tr>
                                            <td align="left" nowrap="nowrap">
                                                <i>Last Modified By</i> :&nbsp; <i>
                                                    @Model.PO.LastModifiedBy
                                                </i>
                                            </td>
                                            <td width="171">
                                            </td>
                                            <td align="right" nowrap="nowrap">
                                                <i>Last Modified Date</i> :&nbsp; <i>
                                                    @Model.PO.LastModifiedDate
                                                </i>
                                            </td>
                                        </tr>
                                    </table>
                                </fieldset>
                            </td>
                        </tr>
                    </table>
                    &nbsp;<br />
                    &nbsp;
                </div>
                <div id="tabs-2">
                </div>
                <div id="tabs-3">
                </div>
                <div id="tabs-4">
                </div>
                <div id="tabs-5">
                </div>
            </div>
        </td>
    </tr>
</table>
<div id="taco_niteDIV1" name="taco_niteDIV1" style1="display:none">
    &nbsp;</div>
<script src="@Url.Content("~/Content/Scripts/KO/knockout-2.2.0.js")" type="text/javascript"></script>
<script src="@Url.Content("~/Content/Scripts/KO/knockout.mapping-latest.js")" type="text/javascript"></script>
<script src="@Url.Content("~/Content/Scripts/KO/KoExtra.js")" type="text/javascript"></script>
<script language="javascript" type="text/javascript"> 
      function LoadKOAndOther() {
           @if (!printPOAfterSave)
           {<text>setFocus("PODate");</text>} @* Set focus will hide the print window - if invoked *@
           
            @*Pre-Load tabs*@
            reloadWithCallback('@Url.Action("Lines", new { POGUID = Model.PO.POGUID.ToString() })','',"#tabs-2", 
                function(){/*alert('Lines');*/});
            reloadWithCallback('@Url.Action("Info", new { POGUID = Model.PO.POGUID.ToString() })','',"#tabs-3", 
                function(){callDocReadyPOInfo();});                  
            reloadWithCallback('@Html.Raw(Url.Action("Comments", new { POGUID = Model.PO.POGUID.ToString(), AssignTo = Model.PO.AssignTo }))','',"#tabs-4",
                function(){callDocReadyComments();});
            reloadWithCallback('@Url.Action("Files", new { POGUID = Model.PO.POGUID.ToString() })','',"#tabs-5", 
                function(){callDocReadyFiles();});

                $("#tabs").tabs({ active: 2 });
      }       
    function setFocus1(evt, ui) {
        // Objects available in the function context:
        // ui.tab     // anchor element of the selected (clicked) tab
        // ui.newPanel   // element, that contains the selected/clicked tab contents
        // ui.newPanel.index()   // zero-based index of the selected (clicked) tab
        switch (ui.newPanel.index()) {
            case 2: //Info
                setFocus("OrderStatusID"); break;
            case 3: //Comments
                setFocus("Comment1"); break;
            case 4: 
                setFocus("FileNameNEW");            
        }
    }
    // Check and prompt if the user is getting away from the page without
        function chkCommit(e) {
            if (skipCommitChk) { skipCommitChk = false; return; }//Special case
            
            if (!e) e = window.event;
            //e.cancelBubble is supported by IE - this will kill the bubbling process.
            e.cancelBubble = true;
            e.returnValue = 'Make sure you have saved the PO or all the changes will be lost. Do you want to leave now?'; 
            //Above is displayed on the dialog

            //e.stopPropagation works in Firefox.
            if (e.stopPropagation) {e.stopPropagation();e.preventDefault();}
        }

        var printPOAfterSave = false;
        function checkAndPrint(btn, evt){
            if(confirmDeleteM(evt, 'Do you want to save any po changes before printing? Click cancel to continue print.')){
                skipCommitChk=true;
                printPOAfterSave = true;
                $("#btnCommit").click();
                return false;
            }
            else
                @Html.Raw(poPrintopenWindow)
                @*openWinScrollable('@Url.Action("Print", "PO", new { POID = Model.Info.ID })',648,838);*@
        }
</script>
