@using Webdiyer.WebControls.Mvc
@using POT.Services
@using HSG.Helper
@{  object routeValues = new { qData = Request["qData"] };
    string reload = "return false;";
    bool isVendor = _Session.IsOnlyVendor;       }
<div style="width:99%; text-align:center" data-bind="visible:filteredRecords().length < 1">No records found</div>
<table width="100%" class="thinBorder" data-bind="visible:filteredRecords().length > 0">
    <thead class="header">
    @*NOTE: DO NOT change column order without updating the Group logic variables below*@
        <tr>
            <th nowrap="nowrap" data-bind="click: function(data,event){$root.sortData(data, event,'PONumber')}">           
            @Html.Raw(HttpUtility.HtmlDecode(Html.SortableColumn("PO #", "PONumber", reload, routeValues, true, false))) </th>
            <th nowrap="nowrap" data-bind="click: function(data,event){$root.sortData(data, event,'PODateOnly')}">
            @Html.Raw(Html.SortableColumn("PO Date", "PODateOnly", reload, routeValues))            
            </th>
            <th nowrap="nowrap" data-bind="click: function(data,event){$root.sortData(data, event,'VendorName')}">
            @Html.Raw(HttpUtility.HtmlDecode(Html.SortableColumn("Vendor", "VendorName", reload, routeValues)))
            @* For future: reload(this.href,'','#main');*@</th>
            @if (!isVendor){ 
            <th nowrap="nowrap"data-bind="click: function(data,event){$root.sortData(data, event,'ShipToCity')}">
            @Html.Raw(Html.SortableColumn("Ship To City", "ShipToCity", reload, routeValues))</th>
            } 
            <th nowrap="nowrap" data-bind="click: function(data,event){$root.sortData(data, event,'ETDOnly')}">
            @Html.Raw(HttpUtility.HtmlDecode(Html.SortableColumn("ETD", "ETDOnly", reload, routeValues)))</th>
            <th nowrap="nowrap" data-bind="click: function(data,event){$root.sortData(data, event,'ETAOnly')}">
            @Html.Raw(Html.SortableColumn("ETA", "ETAOnly", reload, routeValues))</th>

            <th nowrap="nowrap" data-bind="click: function(data,event){$root.sortData(data, event,'Status')}">
            @Html.Raw(Html.SortableColumn("Status", "Status", reload, routeValues))</th>
            @if (!isVendor){ 
                <th nowrap="nowrap"data-bind="click: function(data,event){$root.sortData(data, event,'CommentsExist')}">
                @Html.Raw(Html.SortableColumn("Comment", "CommentsExist", reload, routeValues))</th>
            } 
            <th nowrap="nowrap"data-bind="click: function(data,event){$root.sortData(data, event,'FilesHExist')}">
            @Html.Raw(Html.SortableColumn("File", "FilesHExist", reload, routeValues))</th>            
        </tr>
    </thead>
    @*<tbody> - DON'T because we'll add multiple tbody for group by *@
    <tbody data-bind="foreach: pagedRows">@* POs *@
    <tr>
        <td align="center">            
                <u><div title="Click to view this po" style="height: 99%; cursor: pointer;" data-bind="text:$data.PONumber, 
                click:function(data,event){ gotoPO($data.ID);return false;}"></div></u>            
        </td>
        <td align="center" data-bind="text:PODateOnly"></td>
        @if (!isVendor)
        {<td align="center" data-bind="text:VendorName"></td>}
         <td align="center" data-bind="text:ShipToCity"></td> 
        <td align="center" data-bind="text:ETDOnly"></td>
        <td align="center" data-bind="text:ETAOnly"></td>        
        <td align="center" nowrap="nowrap">
        <div data-bind="attr: {id : 'dialog' + $data.ID}"></div>
        <div class="noBorder dDialog uline" data-bind="click: function(data,event){showDialog('Status',$data.ID);poObj = this;},html:$data.Status, attr:{id:'statusDIV' + $data.ID}"></div>        
        </td>
        @if (!isVendor || true)
        { <td align="center">
        <!-- ko if: CommentsExist -->         
            <input type="image" src="@Url.Content("~/Content/Images/comments.gif")" alt="View Comments" title="View Comments"
                data-bind="visible: CommentsExist, click: function(data,event){showDialog('Comments',$data.ID);return false;}" />
        <!-- /ko -->
        </td>} 
        <td align="center">
        <!-- ko if: FilesHExist -->         
        <input type="image" src="@Url.Content("~/Content/Images/files.gif")" alt="View Files" title="View Files"
                data-bind="visible: FilesHExist, click: function(data,event){showDialog('Files',$data.ID);return false;}"/>
        <!-- /ko -->
        </td>
        @*<td align="center">
            <input type="image" src="@Url.Content("~/Content/Images/Print.png")" alt="Print PO" title="Print PO"
            data-bind="click: function(data,event){openPrintDialog($data.ID);return false;}" />
        </td>*@
    </tr>
      </tbody>
    <tfoot>
        <tr>
            <td colspan="10" align="center">
                <table cellpadding="0" cellspacing="0" class="pager noborder" style="width:100%" border="0">
                    <tr>
                        @*<td nowrap="nowrap">
                            &nbsp;Record count (<span data-bind="text:pageIndex()"></span>):
                        </td>
                        <td id="usrCount" data-bind="text:fields().length">
                        </td>*@
                        <td nowrap="nowrap" id="usrCount">
                            &nbsp;Records : <span data-bind="text:filteredRecords().length"></span>, Page : <span data-bind="text:pageIndex()+1"></span>
                        </td>
                        <td>
                           
                        </td>
                        <td align="right" width="98%" nowrap="nowrap">
                        <div class="dDialog uline" data-bind="click: previousPage, visible: pageIndex() > 0">« prev</div> &nbsp;&nbsp;
                        <div class="dDialog uline" data-bind="click: nextPage, visible: pageIndex() < maxPageIndex()">next »</div> &nbsp;

                        @*<div class="dDialog uline" data-bind="click: function(data,event){return page(data,0);}">« prev</div> &nbsp;&nbsp;
                        <div class="dDialog uline" data-bind="click: function(data,event){return page(data,1);}">next »</div> &nbsp; *@
                        </td>
                    </tr>
                </table>
            </td>
        </tr>
    </tfoot>
</table>
@{ Html.RenderPartial("KO/ListInternalKOscript", 
       new ViewDataDictionary { { "gridPageSize", ViewData["gridPageSize"] } }); }