@using HSG.Helper
@using POT.Services
@*using StackExchange.Profiling*@
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title>@ViewBag.Title</title>
    <script type="text/javascript" language="javascript">
        /* ===== Variables used in diff pages ===== */
        
        var loginURL = '@HSG.Helper.Defaults.commonRoot/Login'; //Make sure Login page has table with id=tblLogin001
        //@* ===== Menu images ===== *@
        var menuDownGifURL = '@Url.Content("~/Content/Menu/down.gif")'; //Make sure this is set for menu        
        var menuRightGifURL = '@Url.Content("~/Content/Menu/right.gif")'; //Make sure this is set for menu
        //@* ===== Loading content ===== *@
        var loading = '<div id="loading" style="text-align:center;display:block;"><img src=" @Url.Content("~/Content/Images/loading.gif")" title="" alt="Loading" /></div>'; //Used by forms using AJAX
        //@* ===== Required to show/hide search-panel ===== *@
        var showImgPath = '@Url.Content("~/Content/Images/aroL.gif")'; //"../../Resources/images/aroL.gif";
        var hideImgPath = '@Url.Content("~/Content/Images/aroB.gif")'; // "../../Resources/images/aroB.gif";
        //@*- ===== Required by datePicker ===== -*@
        var minSQLDate = new Date("@Defaults.minSQLDate.ToString(Defaults.dtUniFormat2)");
        var maxSQLDate = new Date("@Defaults.maxSQLDate.ToString(Defaults.dtUniFormat2)");

        /* ===== Functions used in diff pages ===== */
        function setFocus(elemID) {//useful on most of the pages while inline rendering (allows to defer common.js include until end)
            var elem = document.getElementById(elemID);
            if (elem == null) {
                elem = document.getElementsByName(elemID); //special case for MVC who don't render id!
                if (elem.length > 0) elem = elem[0]; //If its a checkbox it'll have 2 of same name
            }
            try { elem.focus(); return; } catch (ex) { /*alert(elem + ":" + elemID + ":" + ex);*/ } //skip if id is wrong
        }
    </script>
    <link rel="shortcut icon" href="@Url.Content("~/Content/favicon.ico")" type="image/x-icon" />
    <link rel="icon" href="@Url.Content("~/Content/favicon.ico")" type="image/ico" />
    <link href="@Url.Content("~/Content/Site.css")" rel="stylesheet" type="text/css" />
    @*<link rel="stylesheet" type="text/css" href="@Url.Content("~/Content/Menu/ddsmoothmenu.css")" />*@
    @* CDN includes
    <link href="http://code.jquery.com/ui/1.10.2/themes/smoothness/jquery-ui.min.css" rel="stylesheet"type="text/css" />
    /*SOME scripts are better persisted in head */
    <script src="http://code.jquery.com/jquery-1.9.1.min.js" type="text/javascript"></script>
    <script src="http://code.jquery.com/jquery-migrate-1.1.1.min.js" type="text/javascript"></script>
    
    <script src="http://code.jquery.com/ui/1.10.2/jquery-ui.min.js" type="text/javascript"></script>
    <script src="http://ajax.aspnetcdn.com/ajax/jquery.validate/1.11.0/jquery.validate.min.js" type="text/javascript"></script>
     *@
    @* Local includes *@
    <link href="@Url.Content("~/Content/jQUI/smoothness/jquery-ui.min.css")" rel="stylesheet" type="text/css" />
    <script src="@Url.Content("~/Content/jQUI/min/jquery-1.9.1.min.js")" type="text/javascript"></script>
    <script src="@Url.Content("~/Content/jQUI/min/jquery-migrate-1.1.1.min.js")" type="text/javascript"></script>
    <script src="@Url.Content("~/Content/jQUI/min/jquery-ui.1.10.2.min.js")" type="text/javascript"></script>
    <script src="@Url.Content("~/Content/Scripts/jquery.validate.1.11.0.min.js")" type="text/javascript"></script>
        
        <style type="text/css">
		    body {overflow:scroll;background-color:Transparent;height:100%}
		    /* for tablesorter plugin */
		    table.tablesorter thead tr .header {
	            background-position: center right;
	            background-repeat: no-repeat;
	            cursor: pointer;
            }
		    table.tablesorter thead tr .headerSortUp {/* ascending and descending images are working in reverse  */
	            background-image: url('@Url.Content("~/Content/Images/dsc.gif")');            
            }
            table.tablesorter thead tr .headerSortDown {
	            background-image: url('@Url.Content("~/Content/Images/asc.gif")');	            
            }
	    </style>
        @*<style type="text/css">
        #menu1 .ui-menu {z-index: 1000; overflow: hidden;}
        #menu1 .ui-menu .ui-menu { overflow: visible !important;}
        #menu1 .ui-menu > li { float: left; display: block; width: auto !important;}
        #menu1 .ui-menu > li { margin: 1px 1px !important; padding: 0 0 0 0 !important;}
        #menu1 .ui-menu > li > a { float: left; display: block; clear: both; overflow: hidden;}
        #menu1 .ui-menu .ui-menu-icon { margin-top: 0.1em !important;}
        #menu1 .ui-menu .ui-menu .ui-menu li { float: left; display: block;}
        </style>*@
         <style type="text/css">
            .ui-menu{
               z-index: 1000;
            }           

            #menu1 li { display:inline-block; width: auto; }
            #menu1 li.sub { display:block; width: auto;}
            .ui-menu .ui-menu-icon{ display: none; }
            </style>
        <!--[if IE 7]>
	    <style type="text/css">
		    body {overflow:auto;}
		    /* Special case handing for IE 7 which showed double scrollbar */
	    </style>
    <![endif]-->
    <!--[if IE 8]><style type="text/css">body {overflow:auto;}</style><![endif]-->    
    <!--[if IE 9]><style type="text/css">body {overflow:auto;}</style><![endif]-->    
    <!--[if IE 10]><style type="text/css">body {overflow:auto;}</style><![endif]-->    
    @RenderSection("HeadContent", required: false)
    @*MiniProfiler.RenderIncludes()*@
</head>
<body>
    <table cellpadding="3" width="100%" cellspacing="3" border="0" align="center">
        <tr>
            <td id="header">                
                    &nbsp;&nbsp;<img src='@Url.Content("~/Content/Images/AOT Logo.jpg")' alt="AOT" border="0" style="display:inline"/>
            </td>
            <td id="logindisplay" align="right" valign="bottom" nowrap="nowrap">
            @{Html.RenderPartial("LogOnUserControl");}
            </td>
        </tr>
        <tr>
            <td colspan="2" align="center" style="padding: 4px 4px 4px 4px">
            @*MENU (ddsmoothmenu) : START *@
                <div id="smoothmenu" class="ddsmoothmenu" style="text-align:left;" >
                    <ul id="menu1">
                        <li>
                            @Html.ActionLink("Dashboard", "List", "Dashboard")                            
                        </li>
                        @if (_Session.RoleRights.ManageMaster || _Session.RoleRights.ManageUser || _Session.RoleRights.ManageRole)
                        { 
                        <li><a href="#">Manage</a>
                            <ul>
                                @if (_Session.RoleRights.ManageUser)
                                {<li>@Html.ActionLink("Users", "List", "User")</li>} 
                                @if (_Session.RoleRights.ManageRole)
                                {<li>@Html.ActionLink("Roles", "Manage", "Role")</li>}
                                @if (_Session.RoleRights.ManageMaster)
                                {<li>@Html.ActionLink("Master", "Defect", "Manage")
                                <ul>
                                    <li>@Html.ActionLink("Defect", "Defect", "Manage")</li>
                                    <li>@Html.ActionLink("PO Status", "PO_Status", "Manage")</li>
                                    <li>@Html.ActionLink("File Type Header", "File_Type_Header", "Manage")</li>
                                    <li>@Html.ActionLink("File Type Detail", "File_Type_Detail", "Manage")</li>
                                </ul>
                                </li>                                
                                }  
                                
                                @if (_Session.RoleRights.ManageSetting)
                                { 
                                <li>@Html.ActionLink("Setting", "Manage", "Setting")</li>}
                            </ul>
                        </li>
                        }                   
                        @if (_Session.RoleRights.ViewActivity)
                        { <li>@Html.ActionLink("Activity", "Log", "Activity")</li>}                                                              </ul>                    
                    <br style="clear: left" />
                </div>
            @*MENU (ddsmoothmenu) : END*@
            </td>
        </tr>
        <tr>
            <td id="main" colspan="2" align="left" valign="top">@RenderBody()</td>
        </tr>
        <tr>
            <td id="footer" colspan="2" align="left" class="small">
                @* Copyright &copy; 2011 American Omni Trading *@
                @{ string version = "version " + _Session.WebappVersion;}
                &nbsp;@version
                <img src="@Url.Content("~/Content/Images/spacer.gif")" height="1px" width="800px" />
            </td>
        </tr>
    </table>    
@RenderSection("FootContent", required: false)
<div id="divdlg" style="text-align:center;display:none;height:70px;width:61px;"><img src=" @Url.Content("~/Content/Images/loading.gif")" title="" alt="Loading" style="text-align:center" /></div>
</body>
    @*<script type="text/javascript" src="@Url.Content("~/Content/Menu/ddsmoothmenu2.js")"></script>    *@
    <script language="javascript" src="@Url.Content("~/Content/Scripts/common.js")" type="text/javascript"></script>
    <script language="javascript" src="@Url.Content("~/Content/Scripts/jquery.form.js")" type="text/javascript"></script>
    <script type="text/javascript" language="javascript" defer="defer">
        $().ready(function () {
        $("#menu1").menu({position:{at:"left bottom"}});
           @* ddsmoothmenu.init({
                mainmenuid: "smoothmenu", //menu DIV id
                orientation: 'h', //Horizontal or vertical menu: Set to "h" or "v"
                classname: 'ddsmoothmenu', //class added to menu's outer DIV
                //customtheme: ["#1c5a80", "#18374a"],
                contentsource: "markup" //"markup" or ["container_id", "path_to_menu_file"]
            });*@
            $.validator.setDefaults({
                //onfocusin: function(element) { $(element).valid(); },            
                focusInvalid: false
            , focusCleanup: true
            , onsubmit: true
            , onkeyup: false// Keep false possible internal bug : SO: 8045731, 4713849
            , onfocusout: function (element) { return true; /*$(element).valid();*/ }
            });
            //$.validator.onkeyup = false; // http://forum.jquery.com/topic/jquery-validation-plug-in-setdefaults-not-working
        });
    </script>
<!--[if lt IE 8]>
<script src="@Url.Content("~/Content/Scripts/json2.js")" type="text/javascript" ></script>
<![endif]-->
</html>
